.page1Body__wrapper {
  display: flex;
}

.page1Body__sideBar {
  flex: 2;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page1Body__sideBarHeader {
  font-size: var(--font-size18);
  color: var(--text-color-black);
}

.page1Body__sideBarSeparateTitle {
  background-color: #e5e5e5;
  height: 3px;
  display: block;
  width: 100%;
  max-width: 30px;
  margin: 10px 0 20px;
  div {
    width: 100%;
  }
}
.page1Body__sideBarSeparateItem {
  width: 100%;
  border-bottom: 1px solid #ececec;
  margin: 10px 0;
}

.page1Body__sideBarTitle {
  font-size: var(--font-size16);
  font-weight: var(--font-weight-medium);
  color: #777777;
  margin-top: 50px;
  text-transform: uppercase;
}

.page1Body__sideBarBrowse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.page1Body__sideBarBrowseList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page1Body__sideBarBrowseItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: var(--font-size16);
  color: #324762;
  &:hover {
    color: #111;
    cursor: pointer;
  }
}
.active {
  transform: rotate(180deg);
  transition: transform linear 0.2s;
}
.noActive {
  transform: rotate(360deg);
  transition: transform linear 0.2s;
}

.page1Body__sideBarBrowseItemSub {
  font-size: var(--font-size14);
  margin: 0 0 0 20px;
  padding: 5px;
  border-left: 1px solid #ececec;
  cursor: pointer;
}

.page1Body__sideBarFilterColor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.page1Body__sideBarColorList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page1Body__sideBarColorItem {
  font-size: var(--font-size16);
  color: #324762;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.page1Body__sideBarColorItemNumber {
  font-size: var(--font-size12);
  color: #c6c3c3;
}

.page1Body__sideBarFilterPrice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.page1Body__sideBarPriceRange {
  display: flex;
  flex-direction: column;
  width: 100%;

  .page1Body__sideBarPriceRangeBody {
    display: flex;
    width: 100%;
    input {
      flex: 1;
    }
    span {
      font-size: var(--font-size18);
      margin-left: 10px;
    }
  }

  button {
    margin-top: 20px;
  }
}

.filterPrice__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  .filterPrice__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--font-size18);
    width: 100%;

    .filterPrice__slider {
      width: 100%;
      height: 5px;
      background-color: #cdd9ed;
      cursor: grab;
      margin-top: 30px;
      width: 100%;
    }

    .filterPrice__bodyContacts {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 20px;
      .filterPrice__values {
        font-size: var(--font-size14);
      }
    }
  }
}
.page2Body__sideBarFilterPriceBtn {
  cursor: pointer;
}

.filterPrice__slider .thumb {
  width: 23px;
  height: 23px;
  cursor: grab;
  background-color: black;
  border-radius: 50%;
  border: 1px solid #275efe;
}
.track-1 {
  position: absolute;
  z-index: 99;
  background-color: black;
}
.page1Body__sideBarFilterPriceBtn {
  font-size: var(--font-size14);
  color: var(--text-color-white);
  background-color: #666666;
  border: none;
  outline: none;
  padding: 8px 15px;
  border-radius: 20px;
}

.page1Body__sideBarFilterPriceBtn {
  font-size: var(--font-size14);
  color: var(--text-color-white);
  background-color: #666666;
  border: none;
  outline: none;
  padding: 8px 15px;
  border-radius: 20px;
}

.page1Body__sideBarRecently {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 50px;
}

.page1Body__sideBarRecentlList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.page1Body__sideBarRecentItem {
  font-size: var(--font-size16);
  color: #324762;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.page1Body__sideBarRecentItemDesc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.page1Body__sideBarRecentItemImg {
  cursor: pointer;
  margin-right: 10px;
}

.page1Body__sideBarRecentItemName {
  text-align: left;
  margin-bottom: 5px;
  &:hover {
    color: #111;
    cursor: pointer;
  }
}

.page1Body__sideBarRecentItemPrice {
  font-weight: var(--font-weight-bold);
}
.page1Body__sideBarRecentItemPriceHide {
  font-weight: var(--font-weight-bold);
  text-decoration: line-through;
  color: #888888;
}

.page1Body__content {
  margin-top: 30px;
  margin-left: 30px;
  flex: 8;
}

.page1Body__contentList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page1Body__contentItem {
  width: 30%;
}

.item__wrapper {
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;

  &:hover .item__decs,
  &:hover .item__decsProduct {
    background-color: #2f425b;
    color: var(--text-color-white);
  }
}

.item__img {
}

.item__decs {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 60px;
}

.item__decsTitle {
  font-size: var(--font-size14);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.item__decsProduct {
  font-size: var(--font-size10);
  text-transform: uppercase;
  color: #3c3bf1;
}

.page1Sub__wrapper {
  border-top: 1px solid #ececec;
}

.page1Sub__body {
  display: flex;
  justify-content: space-between;
}
.page1Body__sideBarRecentItemBody {
  width: 100%;
}

.page1Sub__latest {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  padding-right: 20px;
  width: 100%;
}

.page1Sub__bestSelling {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 20px;
  width: 100%;
}

.page1Sub__featured {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 20px;
  width: 100%;
}

.page1Sub__rate {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  width: 100%;
}

.title__media {
  margin-top: 30px;
  margin-bottom: 50px;
  display: none;
}

.filter__media {
  position: absolute;
  top: 0;
  font-size: var(--font-size16);
  margin-top: 200px;
  opacity: 1;
  transform: translateX(0);
  transition: transform linear 0.2s;
  display: none;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.sideBar__media {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  width: 260px;
  background-color: #fff;
  padding: 0 20px;

  overflow-y: auto;
  opacity: 0;
  transition: transform linear 0.1s, opacity linear 0.1s;
}

.input__media:checked ~ .overlay {
  display: block;
}
.input__media:checked ~ .filter__media {
  transform: translateX(-20%);
  opacity: 0;
}
.input__media:checked ~ .sideBar__media {
  transform: translateX(0);
  opacity: 1;
}

.overlay {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  animation: fadeIn linear 0.1s;
  .headerBottom__navBarMediaCloseBtn {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    font-size: var(--font-size14);
    color: #ddd;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btnGoTop {
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid black;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

/* Tablet - PC with low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .page1Body__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .page1Body__sideBar {
    display: none;
  }
  .title__media {
    display: block;
  }
  .filter__media {
    display: block;
  }

  .page1Body__content {
    margin-left: 0;
  }
  .page1Sub__body {
    flex-direction: column;
    width: 100%;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .page1Body__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .page1Body__sideBar {
    display: none;
  }
  .title__media {
    display: block;
  }
  .filter__media {
    display: block;
  }

  .page1Body__content {
    margin-left: 0;
  }
  .page1Sub__body {
    flex-direction: column;
    width: 100%;
  }
  .page1Body__contentItem {
    width: 45%;
  }
}
