.wrapper {
  position: fixed;
  z-index: 97;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: flex;
}

.sideBarAd__list {
}

.sideBarAd__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color-white);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size12);
  text-transform: uppercase;
  width: 70px;
  height: 60px;
  background-color: #999999;
  border-radius: 5px;
  margin-bottom: 5px;

  &:hover {
    background-color: #084f75;
    cursor: pointer;
  }
}
.sideBarAd__itemHighLight {
  font-size: var(--font-size20);
}

/* Mobile */
@media (max-width: 739px) {
  .wrapper {
    display: none;
  }
}
