.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
ol,
ul {
  margin-left: 0;
  padding-left: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slick-slide div {
  margin: 0 5px;
}

.slick-next:before {
  color: black;
}
.thumb {
  position: absolute;
  /* z-index: 99; */
  width: 15px;
  height: 15px;
  cursor: grab;
  background-color: #666666;
  border-radius: 50%;
  border: 1px solid black;
  top: -5px;
}
.track-1 {
  position: absolute;
  z-index: 99;
  background-color: black;
}

/* @media (max-width: 1023px) {
  .slick-slide {
    padding: 0 30px;
  }
}

@media (max-width: 739px) {
  .slick-slide {
    padding: 0 10px;
  }
} */
